body, html {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
}

.panel {
  flex: 1;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
}

#file-contents {
  flex: 1;
  resize: none;
}

#output-space {
  font-family: monospace;
  font-size: 5px;
  line-height: 0.7;
  overflow: auto;
}

#drag-bar {
  width: 5px;
  cursor: col-resize;
  background: #ccc;
}

#drag-bar:hover {
  background: #999;
}
